footer {
	background-color: #f86043;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}

h1 {
	
font-family: proxima-nova, sans-serif;

font-weight: 700;

font-style: normal;
	
	padding-left: 30px;
	padding-right: 120px;
}

h2 {
	

font-family: proxima-nova, sans-serif;

font-weight: 700;

font-style: normal;
	

	
	padding-left: 30px;
	padding-right: 120px;

	

}

h3 { 

font-family: proxima-nova, sans-serif;

font-weight: 700;

font-style: normal;
	
	
	padding-left: 30px;
	padding-right: 120px;

}

h4 { 

font-family: proxima-nova, sans-serif;

font-weight: 700;

font-style: normal;
style="color:f86043;"

}

h5 {
	

font-family: proxima-nova, sans-serif;

font-weight: 700;

font-style: normal;
	
style="color:f86043;"


}
p {
	

font-family: proxima-nova, sans-serif;
font-weight: 300;
font-style: normal;
	padding-left: 30px;
	padding-right: 275px;


}
