@charset "utf-8";
/* CSS Document */
.nav {
	color: #ff5134;
	list-style: none;
	text-align: left;
	padding: 20px 0 20px 30px;
}

.logo {
	display: inline-block;
	padding-right: 10px;
	padding-top: 20px;
}

.nav > li {
	display: inline-block;
	padding-right: 20px;
	font-family: proxima-nova, sans-serif;
	font-weight: 900;
	
}

.nav >li > a {
	text-decoration: none;
	color: #323333;
}

.nav > li > a:hover {
	color: #f4cd7b
}

.eva {
	padding-left: 30px;
	padding-right: 20px;
	padding top: 50px;
	float: left;
	background-color: white;
}

.bio {
	float: right;
	background-color: white;
	padding: 50px 40px 20px 70px;
}

.bio > h1 {
	font-family: proxima-nova, sans-serif;
	font-weight: 800;
	color: #323333;
	
}
.bio > p {
	font-family: proxima-nova, sans-serif;
	font-weight: 100;
	color: #323333;
}
.work {
	float: center;
	padding-left: 90px;
	padding-top: 10px;}

.work > h1 {
	padding-left: 90px;
	padding-top: 10px;
	font-family: proxima-nova, sans-serif;
	font-weight: 800;
}
}

#lab_social_icon_footer {
  padding: 10px 0;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);

  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}

footer {
	background-color: #f4cd7b;
	padding-bottom: 10px;
	padding-top: 50px;
	text-align: center;
}
