@charset "utf-8";
/* CSS Document */

@charset "UTF-8";
/* CSS Document */

	
	body{
		
	background:#fff;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	width:960px;
	margin: 0 auto;
}

h1{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"
	margin-top: 10px;
}

h2 {
	text-align: left;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	border-top: 1px solid #4F4949;
	padding-top: 30px;
	margin-top: 30px;
	color:#00000; 
	
}

em {
	color: #000000;
}